In [1]:
import numpy as np 
import pandas as pd 
import sklearn
import os
import matplotlib.pyplot as plt

In [5]:
df1 = pd.read_csv("dragoncoin-part1.csv")
df1.head()
df2 = pd.read_csv("dragoncoin-part2.csv")
df2.head()
df3 = pd.read_csv("dragoncoin-part3.csv")
df3.head()

         date tx_from tx_to tx_amount  tx_fee
0  12-21-2018      C5    B2    41 DRG     5.0
1  12-21-2018      D9    E9   131 DRG    18.0
2  12-21-2018      C3    K2   155 DRG    18.0
3  12-21-2018      C6    A3   231 DRG    23.0
4  12-21-2018      K7    J2    94 DRG     8.0

In [6]:
#append all 3 to one df
frames = [df1, df2, df3]
dragoncoin = pd.concat(frames)
dragoncoin.head()

         date      tx_from tx_to tx_amount  tx_fee
0  11-15-2017  Dragon Bank    A1   100 DRG     0.0
1  11-16-2017           A1    B4    35 DRG     4.0
2  11-16-2017  Dragon Bank    C6    64 DRG     0.0
3  11-16-2017           B4    C6    23 DRG     3.0
4  11-16-2017  Dragon Bank    H8   192 DRG     0.0

In [7]:
print ("Rows     : " ,dragoncoin.shape[0])
print ("Columns  : " ,dragoncoin.shape[1])
print ("\nFeatures : \n" ,dragoncoin.columns.tolist())
print ("\nMissing values :  ", dragoncoin.isnull().sum().values.sum())
print ("\nUnique values :  \n",dragoncoin.nunique())
print(dragoncoin.info())

Rows     :  1781628
Columns  :  5

Features :
 ['date', 'tx_from', 'tx_to', 'tx_amount', 'tx_fee']

Missing values :   35637

Unique values :
 date          587
tx_from        85
tx_to          84
tx_amount    1269
tx_fee        186
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1781628 entries, 0 to 593875
Data columns (total 5 columns):
date         object
tx_from      object
tx_to        object
tx_amount    object
tx_fee       float64
dtypes: float64(1), object(4)
memory usage: 81.6+ MB
None

In [11]:
np.unique(dragoncoin[['tx_from', 'tx_to']].values)

array(['A1', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'B1', 'B2', 'B3',
       'B4', 'B5', 'B6', 'B7', 'B9', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6',
       'C7', 'C8', 'C9', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8',
       'D9', 'Dragon Bank', 'E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7',
       'E8', 'E9', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9',
       'G1', 'G2', 'G3', 'G4', 'G5', 'G6', 'G7', 'G8', 'G9', 'H1', 'H2',
       'H3', 'H5', 'H7', 'H8', 'J1', 'J2', 'J3', 'J4', 'J5', 'J6', 'J7',
       'J9', 'K1', 'K2', 'K3', 'K4', 'K5', 'K6', 'K7', 'K8', 'K9'],
      dtype=object)

In [13]:
dragoncoin[tx_amount].str.rstrip("DRG")
dragoncoin[tx_amount].median()

NameError: name 'tx_amount' is not defined